Source: criu-rpi
Maintainer: Albert Casals <skarbat@gmail.com>
Section: shells
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0), libprotobuf-dev, libprotobuf-c-dev,
 protobuf-c-compiler, protobuf-compiler, python-protobuf, pkg-config,
 libnl-3-dev, libcap-dev, bsdmainutils, pkg-config

Package: criu-rpi
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, libprotobuf-c1, python-protobuf,
 libnl-3-200, libc6, python-ipaddr
Description: Criu allows to freeze a running application, then restore
 and run the application from the point it was frozen at.
